.carousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  &__window {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: height 0.2s ease;
  }

  &__window * {
    flex-wrap: nowrap;
  }

  &__all-pages-container {
    display: flex;
    height: 100%;
    transition: translate;

    /* transition-duration: 300ms; */
    transition-timing-function: ease-in-out;
    transition-property: transform;
  }

  &__arrow {
    z-index: 1;
    width: 2.5%;
    cursor: pointer;
    fill: none;
    stroke: #9d9d9d;
    transition: stroke 0.1s ease;

    &:hover {
      polyline {
        stroke: #3F3F3F;

      }
    }

    &-left {
      position: absolute;
      top: 50%;
      left: -11.5%;
      transform: translate(-100%, -50%);
    }

    &-right {
      position: absolute;
      top: 50%;
      left: 114%;
      transform: translate(-100%, -50%);
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    user-select: none;

    &-img {
      width: 100%;
      max-height: 550px;
    }

    &-wrapper {
      height: fit-content;
    }
  }


  &__bullet {
    &-list {
      position: absolute;
      top: 105%;
      left: 50%;
      display: flex;
      gap: 10px;
      transform: translate(-50%, 0);
    }

    &-item {
      width: 40px;
      height: 10px;
      background-color: #DDD;
      cursor: pointer;
      transition: background-color 0.2s linear;

      &--active {
        background-color: #000;
      }
    }
  }
}


@media screen and (width <= 1450px) {
  .carousel__arrow {
    &-left {
      left: 6%;
    }

    &-right {
      left: 96.6%;
    }
  }
}