/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike,  sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.header__top{display:flex;padding:20px 10px;justify-content:space-between;background-color:#222;letter-spacing:2px}.header__top *{color:#fff}.header__top a:hover{color:#ccc}.header__top-wrapper{display:flex;justify-content:space-between}.header__navigation,.header__user-actions{font-size:0.6875rem}.header__middle-wrapper{display:flex;align-items:center;padding:25px 10px !important}.header__logo-wrapper{flex-grow:1.4;display:flex;justify-content:right}.header__phones{flex-grow:1;display:flex;justify-content:right}.header__phones-list{display:flex;flex-direction:column;gap:15px}.header__bottom{border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;position:relative}.header__categories{display:flex;justify-content:space-between;align-items:center}.header__categories-list{gap:0 !important}.header__categories-item-title-wrapper{letter-spacing:2px;font-size:0.6875rem}.header__categories-item--expand .header__categories-item-title-wrapper::after{content:"";display:inline-block;margin:3px 0 0 12px;vertical-align:top;width:0;height:0;border-style:solid;border-width:4px 4px 0 4px;border-color:#000 rgba(0,0,0,0);transform:rotate(0deg);transition:transform .2s linear}.header__categories-item--expand--active .header__categories-item-title-wrapper{background-color:#f1f1f1}.header__categories-item--expand--active .header__categories-item-title-wrapper::after{transform:rotate(180deg);transition:transform .2s linear}.header__categories-item-title-wrapper{padding:20px;display:flex}.header__categories-item-title-wrapper:hover{cursor:pointer}.header__categories-item-title-wrapper:hover *{color:#777}.header__categories-item-title-wrapper:hover::after{border-color:#ccc rgba(0,0,0,0)}.header__categories-context{position:absolute;background-color:#f1f1f1;top:100%;left:0;width:100%;height:0;overflow:hidden;opacity:0;z-index:2;transition:height .2s linear,opacity .2s linear;-webkit-box-shadow:0px 10px 23px -7px rgba(0,0,0,.25);-moz-box-shadow:0px 10px 23px -7px rgba(0,0,0,.25);box-shadow:0px 10px 23px -7px rgba(0,0,0,.25)}.header__categories-context--active{height:300px;overflow:visible;opacity:1;transition:height .2s linear,opacity .2s linear}.header__categories-context-wrapper{padding:35px 0 !important}.header__sub-categories{display:flex;gap:70px;letter-spacing:1px}.header__sub-categories-item-title{display:inline-block;font-size:0.875rem;margin-bottom:32px}.header__sub-categories-item-list{font-size:0.75rem}.header__sub-categories-item-list *{color:#888}.header__search{letter-spacing:2px;display:flex;align-items:center;position:relative}.header__search:before{position:absolute;left:0;top:18px;content:url(imgs/e22dd5dd236ad572d754.png)}.popular-products__list{display:flex;justify-content:space-between;text-align:center}.popular-products__item{position:relative;max-width:210px;width:100%;padding:1px;border:1px solid rgba(0,0,0,0)}.popular-products__item *{transition:color .1s linear}.popular-products__item:hover{cursor:pointer;border:1px solid #f1f1f1}.popular-products__item:hover .popular-products__item-title{color:#888;transition:color .1s linear}.popular-products__item:hover .popular-products__item-fast-view{cursor:pointer;opacity:.9}.popular-products__item-img{width:100%}.popular-products__item-img img{width:100%;height:315px;object-fit:contain}.popular-products__item-fast-view{background:rgba(240,240,240,.8);box-sizing:border-box;color:#777;display:inline-block;font-size:10px;left:50%;transform:translateX(-50%);width:174px;bottom:80px;letter-spacing:1px;line-height:14px;padding:10px 20px 10px 20px;transition:opacity 350ms ease;z-index:1;border:none;text-transform:uppercase;position:absolute;opacity:0}.popular-products__item-title{display:inline-block;font-size:12px;letter-spacing:1px;line-height:16px;text-transform:uppercase;margin:20px 10px}.home-about{margin:47px 0 99px 0}.home-about p{margin-top:10px;font-size:0.8125rem;line-height:1.5}.home-about p:first-child{margin-top:0}body,html,*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;font-family:Arial,Tahoma,sans-serif}body,html{width:100%;height:100%}.container{max-width:1220px;width:100%;padding:0 10px;margin:0 auto}.main-style-list__list{display:flex;flex-wrap:wrap;gap:35px}.main-style-list__item{text-transform:uppercase}.main-h1,.main-h2{color:#222;letter-spacing:1px;line-height:28px;text-transform:uppercase}.main-h2{font-size:22px;margin-bottom:1.1363636364em}.main-h1{margin:0 0 1.0416666667em;font-size:1.5rem}
.slider{margin-bottom:100px}.slider__wrapper{max-width:1452px !important;padding:0 !important}.slider__item{width:100%;height:550px;background-image:url(imgs/9dfacfaa64dafacf22a7.jpg);background-size:cover}
.carousel-main-container{position:relative;width:100%;display:flex;align-items:center}.carousel-window{height:100%;width:100%;transition:height .2s ease;overflow:hidden}.carousel-window *{flex-wrap:nowrap}.carousel-all-pages-container{height:100%;display:flex;transition:translate;transition-property:transform;transition-timing-function:ease-in-out}.carousel-arrow{width:2.5%;cursor:pointer;z-index:1;fill:none;stroke:#9d9d9d;transition:stroke .1s ease}.carousel-arrow:hover{stroke:#3f3f3f}.carousel-arrow-left{position:absolute;left:-11.5%;top:50%;transform:translate(-100%, -50%)}.carousel-arrow-right{position:absolute;left:114%;top:50%;transform:translate(-100%, -50%)}.carousel-item{display:flex;align-items:center;justify-content:center;user-select:none;width:100%}.carousel-item-img{width:100%;height:auto}.carousel-item-wrapper{height:fit-content}.carousel-bullet-list{position:absolute;left:50%;top:110%;transform:translate(-50%, -300%);display:flex;gap:10px}.carousel-bullet-item{background-color:#ddd;cursor:pointer;width:40px;height:10px;transition:background-color .2s linear}.carousel-bullet-item--active{background-color:#000}

