/*
!* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*!

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;

}

* {
}

a:hover {
    color: black;
}

!* HTML5 display-role reset for older browsers *!
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    border: none;
}

input:focus {
    outline: none;
}*/

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: inherit;
}

/* Links */

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}



body,html,*,*::before,*::after{box-sizing:border-box;margin:0;padding:0;font-family:Arial,Tahoma,sans-serif}body,html,#root,.app{overflow-x:hidden;width:100%;height:100%}.app{display:flex;flex-direction:column}.app main{flex-grow:1}.container{width:100%;max-width:1220px;margin:0 auto;padding:0 10px}.main-style-list__list{display:flex;flex-wrap:wrap;gap:35px}.main-style-list__item{text-transform:uppercase}.main-h1,.main-h2{color:#222;line-height:28px;letter-spacing:1px;text-transform:uppercase}.main-h2{margin-bottom:1.1363636364em;font-size:22px}.main-h1{margin:0 0 1.0416666667em;font-size:1.5rem}.--hidden{overflow:hidden;user-select:none}.close-button{position:relative;display:none;width:30px;height:30px;cursor:pointer}.close-button::before,.close-button::after{content:"";position:absolute;top:50%;left:50%;width:20px;height:2px;background-color:#000}.close-button::before{transform:translate(-50%, -50%) rotate(45deg)}.close-button::after{transform:translate(-50%, -50%) rotate(-45deg)}
.popup{position:fixed;top:0;left:0;z-index:100000;display:flex;flex-direction:column;justify-content:center;align-items:center;overflow:hidden scroll;width:0;height:0;padding:0 20px;background-color:rgba(0,0,0,0);transition:background-color .2s linear,width 0s .2s linear,height 0s .2s linear}.popup__wrapper{display:none;width:100%}.popup--visible{width:100%;height:100%;background-color:rgba(11,11,11,.8);transition:background-color .2s linear}.popup--visible .popup__wrapper{display:flex;justify-content:center;align-items:center}
.search{width:100%}.search__wrapper{position:relative;width:100%;max-width:550px}.search__input{width:100%;padding:20px 64px 20px 20px;background:#fff;color:#000;font-size:14px;letter-spacing:2px;text-transform:uppercase}.search__submit{position:absolute;top:0;left:100%;width:56px;height:56px;background-color:#fff;background-image:url(imgs/8589e9d2dd2860e3cf35.png);background-position:center;background-repeat:no-repeat;cursor:pointer;transform:translateX(-100%)}.search__button{position:relative;display:flex;align-items:center;letter-spacing:2px}.search__button::before{content:url(imgs/e22dd5dd236ad572d754.png);position:absolute;top:18px;left:0}@media screen and (width <= 430px){.search__input::placeholder{font-size:10px}}
.header{position:sticky;top:0;left:0;z-index:2;width:100%;background-color:#fff}.header__top{display:flex;justify-content:space-between;align-items:center;height:50px;max-height:50px;padding:0 10px;background-color:#222;letter-spacing:2px}.header__top .search__button{display:none;justify-content:left}.header__top .search__button::before{display:none}.header__top .search__button .header__categories-item-title-wrapper{padding:0}.header__top *{color:#fff}.header__top a:hover{color:#ccc}.header__top-wrapper{display:flex;justify-content:space-between;align-items:center}.header__navigation,.header__user-actions{font-size:0.6875rem}.header__navigation{display:flex;align-items:center}.header__navigation .logo{display:inline-block;width:165px;height:20px;font-weight:900;font-size:20px;letter-spacing:5px;opacity:1;transition:opacity .15s .15s linear,width .15s linear,height .15s linear}.header__navigation .--logo-hidden{width:0;height:0;opacity:0;transition:opacity .15s linear,width .15s .15s linear,height .15s .15s linear}.header__middle-wrapper{display:flex;align-items:center;padding:25px 10px !important}.header__logo-wrapper{display:flex;flex-grow:1.4;justify-content:right}.header__phones{display:flex;flex-grow:1;justify-content:right}.header__phones-list{display:flex;flex-direction:column;gap:15px}.header__bottom{position:sticky;top:50px;left:0;z-index:2;width:100%;border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;background-color:#fff}.header__bottom-wrapper{padding:0}.header__categories{display:flex;justify-content:space-between;align-items:center}.header__categories-list{gap:0 !important}.header__categories-item--expand .header__categories-item-title-wrapper::after{content:"";position:relative;display:inline-block;vertical-align:top;width:0;height:0;margin:3px 0 0 12px;border-width:4px 4px 0;border-style:solid;border-color:#000 rgba(0,0,0,0);transition:transform .2s linear;transform:rotate(0deg)}.header__categories-item--expand--active .header__categories-item-title-wrapper{background-color:#f1f1f1}.header__categories-item--expand--active .header__categories-item-title-wrapper::after{transition:transform .2s linear;transform:rotate(180deg)}.header__categories-item-title-wrapper{position:relative;display:flex;padding:20px;font-size:0.6875rem;letter-spacing:2px}.header__categories-item-title-wrapper:hover{cursor:pointer}.header__categories-item-title-wrapper:hover *{color:#777}.header__categories-item-title-wrapper:hover::after{border-color:#ccc rgba(0,0,0,0)}.header__categories-context{position:absolute;left:0;z-index:2;width:0;height:0;background-color:#f1f1f1;box-shadow:0 10px 23px -7px rgba(0,0,0,.25);opacity:0;transition:height .2s linear,opacity .2s linear,width 0s .3s linear}.header__categories-context--active{overflow:visible;width:100%;height:300px;opacity:1;transition:height .2s linear,opacity .2s linear}.header__categories-context-wrapper{padding:35px 0}.header__categories-context-header{display:none;justify-content:space-between;align-items:center;margin-bottom:50px}.header__categories-context-header .close-button{position:relative;top:-2px}.header__categories-context-header h2{margin-bottom:0}.header__sub-categories{display:flex;letter-spacing:1px}.header__sub-categories-item{display:inline-block;overflow:hidden;width:100%;max-width:500px}.header__sub-categories-item-title{display:inline-block;height:50px;font-size:0.875rem}.header__sub-categories-item-list{display:flex;flex-flow:column wrap;row-gap:15px;max-height:200px;font-size:0.75rem}.header__sub-categories-item-list li{width:fit-content}.header__sub-categories-item-list *{color:#888}.burger{display:none}.burger span{display:block;width:30px;height:2px;margin-top:5px;background-color:#fff}.burger span:first-child{margin-top:0}.burger-menu{position:absolute;top:0;left:100%;z-index:10000;display:flex;letter-spacing:1.5px;flex-direction:column;overflow:hidden;width:0;height:0;background-color:#fff;transition:left .2s linear,width 0s .2s linear,height 0s .2s linear,padding 0s .2s linear}.burger-menu *{color:#000}.burger-menu__header{display:flex;justify-content:space-between;align-items:center;margin-bottom:50px}.burger-menu__header h2{margin-bottom:0}.burger-menu__body{display:flex;flex-grow:1;flex-direction:column;justify-content:space-between}.burger-menu__list{display:flex;flex-direction:column}.burger-menu__navigation li{display:block;padding:10px 0;border-top:1px #9d9d9d solid}.burger-menu__navigation li:first-child{border-top:none}.burger-menu__user-actions{gap:10px}.burger-menu--active{left:0;width:100%;height:100%;padding:20px;transition:left .2s linear}.burger-menu--active .close-button{display:block}@media screen and (width <= 430px){.header{position:static}.header .logo{display:none !important}.header .burger{display:block}.header__top .search__button{display:block}.header__middle{display:none}.header__bottom{position:static}.header__bottom .search__button{display:none}.header__navigation{display:none}.header__user-actions{display:none}.header__categories-item{display:flex;justify-content:center;align-items:center;width:50%}.header__categories-context{position:absolute;top:0;left:0;overflow-y:scroll;padding:20px}.header__categories-context-wrapper{padding:0}.header__categories-context-header{display:flex}.header__categories-context--active{width:100%;height:100%}.header__categories-context--active .close-button{z-index:100000000999;display:block}.header__sub-categories{flex-wrap:wrap;gap:0;row-gap:50px;justify-content:space-between;width:100%}.header__sub-categories-item-title{height:40px}}
.slider{margin-bottom:100px}.slider__wrapper{max-width:1452px !important;padding:0 !important}.slider__item{width:100%;height:550px;background-image:url(imgs/9dfacfaa64dafacf22a7.jpg);background-size:cover}
.carousel{position:relative;display:flex;align-items:center;width:100%}.carousel__window{overflow:hidden;width:100%;height:100%;transition:height .2s ease}.carousel__window *{flex-wrap:nowrap}.carousel__all-pages-container{display:flex;height:100%;transition:translate;transition-timing-function:ease-in-out;transition-property:transform}.carousel__arrow{z-index:1;width:2.5%;cursor:pointer;fill:none;stroke:#9d9d9d;transition:stroke .1s ease}.carousel__arrow:hover polyline{stroke:#3f3f3f}.carousel__arrow-left{position:absolute;top:50%;left:-11.5%;transform:translate(-100%, -50%)}.carousel__arrow-right{position:absolute;top:50%;left:114%;transform:translate(-100%, -50%)}.carousel__item{display:flex;justify-content:center;align-items:center;width:100%;user-select:none}.carousel__item-img{width:100%;height:auto}.carousel__item-wrapper{height:fit-content}.carousel__bullet-list{position:absolute;top:105%;left:50%;display:flex;gap:10px;transform:translate(-50%, 0)}.carousel__bullet-item{width:40px;height:10px;background-color:#ddd;cursor:pointer;transition:background-color .2s linear}.carousel__bullet-item--active{background-color:#000}@media screen and (width <= 1450px){.carousel__arrow-left{left:6%}.carousel__arrow-right{left:96.6%}}
.products__list{display:grid;grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));grid-gap:29px;max-width:960px}.products__item{position:relative;padding:1px;border:1px solid rgba(0,0,0,0);text-align:center}.products__item *{transition:color .1s linear}.products__item-price{display:inline-block;margin-bottom:15px;font-size:15px;letter-spacing:1px}.products__item:hover{border:1px solid #f1f1f1;cursor:pointer}.products__item:hover *{color:#888}.products__item:hover .products__item-title{transition:color .1s linear;color:#888}.products__item:hover .products__item-fast-view{opacity:.9;cursor:pointer}.products__item-img{width:100%}.products__item-img img{object-fit:contain;width:100%;height:315px}.products__item-fast-view{position:absolute;bottom:120px;left:50%;z-index:1;box-sizing:border-box;width:174px;padding:10px 20px;border:none;background:rgba(240,240,240,.8);color:#777;font-size:10px;line-height:14px;letter-spacing:1px;text-transform:uppercase;opacity:0;transition:opacity 350ms ease;transform:translateX(-50%)}.products__item-title{display:inline-block;margin:20px 10px;font-size:12px;line-height:16px;letter-spacing:1px;text-transform:uppercase}
.home-about{margin:47px 0 99px}.home-about p{margin-top:10px;font-size:0.8125rem;line-height:1.5}.home-about p:first-child{margin-top:0}
.category-products__wrapper{padding:0 10px 0}.category-products__body{display:flex;gap:55px}.category-products__categories{min-width:210px}.category-products__categories-item{cursor:pointer}.category-products__categories-item .category-products__category-title{display:block;padding:10px;font-size:12px;letter-spacing:1px;text-transform:uppercase}.category-products__categories-item *{color:#777}.category-products__categories-item--top{display:block;margin-bottom:12px}.category-products__categories-item--active .category-products__category-title{background-color:#eee;color:#000;font-weight:600}.category-products__categories-list{display:flex;flex-direction:column}.category-products__season-select{width:100%;margin-bottom:35px}.category-products__subcategories{display:flex;flex-direction:column;gap:7px;margin:7px 0 7px 6px}.category-products__subcategories--expanded{margin-left:15px}@media screen and (width <= 430px){.category-products__categories{width:100%}.category-products__categories-list{overflow-y:scroll;height:200px}.category-products__body{flex-direction:column}}
.select-container{position:relative;width:100%}.select-container *{color:#aaa;font-size:11px;text-transform:uppercase}.select-header{position:relative;display:flex;justify-content:space-between;overflow:hidden;padding:10px 10px 10px 12px;border:1px solid #ddd;line-height:14px;text-overflow:ellipsis;white-space:nowrap;cursor:pointer}.select-placeholder{letter-spacing:2px}.arrow{display:inline-block;transition:transform .3s}.arrow.open{transform:rotate(180deg)}.select-options{position:absolute;top:100%;right:0;left:0;z-index:1000;overflow-y:auto;max-height:150px;border:1px solid #bbb;background-color:#fff;box-shadow:0 0 12px rgba(0,0,0,.15)}.select-option{padding:10px;color:#777;cursor:pointer}.select-option:hover,.select-option.active{background-color:#f0f0f0}.select-option.active{font-weight:600}
.breadcrumbs{display:flex;margin-bottom:34px}.breadcrumbs *{color:#999;font-size:0.6875rem;letter-spacing:1px;text-transform:uppercase}.breadcrumbs__item a{padding:0 0 1px}.breadcrumbs__item a:hover{color:#444}.breadcrumbs__item::after{content:"/";display:inline-block;margin:0 13.5px}.breadcrumbs__item:last-child::after{display:none}.breadcrumbs__item--available a{display:inline-block;border-bottom:1px #999 solid}
.page-header{display:block;margin-top:50px}
.product-single{margin:40px 0 100px}.product-single__breadcrumbs{display:flex;margin-bottom:34px}.product-single__breadcrumbs *{color:#999;font-size:0.6875rem;letter-spacing:1px;text-transform:uppercase}.product-single__breadcrumbs-item a{padding:0 0 1px}.product-single__breadcrumbs-item a:hover{color:#444}.product-single__breadcrumbs-item::after{content:"/";display:inline-block;margin:0 13.5px}.product-single__breadcrumbs-item:last-child::after{display:none}.product-single__breadcrumbs-item--available a{display:inline-block;border-bottom:1px #999 solid}.product-single__main{display:flex;flex-wrap:wrap;gap:69px}.product-single__view{display:flex;gap:10px}.product-single__view img{object-fit:contain;cursor:zoom-in}.product-single__view img:hover{opacity:.8}.product-single__view-main img{width:400px;height:572px}.product-single__view-other{display:flex;flex-direction:column}.product-single__view-other img{max-width:90px;max-height:120px}.product-single__info-title{margin:0 0 10px}.product-single__code{display:inline-block;margin:0 0 27px;font-size:0.6875rem;text-transform:uppercase}.product-single__character{display:flex;flex-direction:column;gap:15px;margin-bottom:20px}.product-single__character-item{color:#777;font-size:0.75rem;line-height:16px}.product-single__character-item b{color:#000;font-weight:600}@media screen and (width <= 770px){.product-single__main{width:100%}.product-single__view{flex-direction:column;gap:0;align-items:center;width:100%}.product-single__view-main{display:flex;justify-content:center;width:100%}.product-single__view-main img{height:100%}.product-single__view-other{flex-direction:row;gap:10px}}@media screen and (width <= 330px){.product-single__view-other img{max-width:60px}}
.carousel-arrow{z-index:1;width:2.5%;cursor:pointer;fill:none;stroke:#9d9d9d;transition:stroke .1s ease}.carousel-arrow:hover polyline{stroke:#3f3f3f}.carousel-arrow__left{position:absolute;transform:translate(0, -50%)}.carousel-arrow__right{position:absolute;transform:translate(-100%, -50%)}
.image-view{width:100%;max-width:573px}.image-view *{user-select:none}.image-view__item{width:100%}.image-view__item img{width:100%}.image-view__counter{display:inline-block;color:#ccc;font-size:12px;line-height:18px;position:relative;left:100%;transform:translateX(-100%)}
.main-button{display:inline-block;padding:10px;border:2px #000 solid;border-radius:5px;background:#000;color:#fff;font-weight:600;font-size:15px;letter-spacing:1px;text-transform:uppercase;cursor:pointer;transition:background .1s linear,color .1s linear}.main-button:hover{background:#fff;color:#000}
.cart{margin-top:38px}.cart__wrapper{display:flex;gap:50px;align-items:flex-start}.cart__list{flex-grow:2;flex-basis:0}.cart__info{flex-grow:1;flex-basis:0;padding:20px}.cart__item{display:flex;justify-content:space-between;align-items:center;padding:15px;border-bottom:1px solid #e0e0e0}.cart__item-info{display:flex;align-items:center;width:100%;max-width:350px}.cart__item-image{object-fit:contain;width:60px;height:80px;margin-right:20px}.cart__item-description{display:flex;flex-direction:column}.cart__item-title{margin-bottom:10px;font-size:14px;letter-spacing:1px}.cart__item-quantity{display:flex;align-items:center;width:fit-content;margin-bottom:10px;background-color:#f5f5f5}.cart__item-quantity-button{display:flex;justify-content:center;align-items:center;width:30px;height:30px;border:1px solid #e0e0e0;background-color:#fff;font-size:20px;cursor:pointer}.cart__item-quantity-button:first-of-type{margin-right:10px}.cart__item-quantity-button:last-of-type{margin-left:10px}.cart__item-quantity-number{font-size:16px}.cart__item-price{color:#888;font-weight:700;font-size:12px}.cart__item-total-price{display:inline-block;min-width:max-content;font-weight:700;font-size:17px}.cart__item-remove-button{align-self:start;height:100%;border:none;background:none;font-size:20px;cursor:pointer}.cart__summary{display:flex;justify-content:space-between;padding:20px 0;font-weight:700;font-size:20px}.cart__summary-text{color:#555}.cart__summary-total{color:#000}.cart__actions{display:flex;gap:10px;padding:20px 0}.cart__actions-button{width:100%;padding:15px 20px;border-radius:26px;background-color:#000;color:#fff;font-size:14px;letter-spacing:.5px;cursor:pointer}.cart__actions-button--checkout{background-color:#000}.cart__actions-button--buy-now{border:1px #000 solid;background-color:rgba(0,0,0,0);color:#000}@media screen and (width <= 430px){.cart__wrapper{flex-direction:column;gap:10px}.cart__info{width:100%}}

.about__body{display:flex;gap:50px}.about__side{min-width:210px}.about__side-list{display:flex;flex-direction:column;gap:25px;border-right:1px #f1f1f1 solid;color:#777;font-size:11px;letter-spacing:1px;text-transform:uppercase}.about__side-item:hover{color:#000}.about__side-item-link--active{color:#000;font-weight:bold}.about__info{font-size:12px}.about__info b{font-weight:bold}.about__info h2{margin:25px 0 15px}.about__info h3{margin:25px 0 12px;font-size:18px;line-height:22px}.about__info h3:first-child{margin-top:0}.about__info p{margin-top:10px;line-height:1.5}.about__info li{margin-bottom:10px;margin-left:17px;list-style:square}.about__info a{text-decoration:underline}.about__info a:hover{text-decoration:none}@media screen and (width <= 430px){.about__body{flex-direction:column;gap:10px}.about__side{min-width:100%;padding:0 0 20px;border-right:none;border-bottom:1px #f1f1f1 solid}.about__side-list{flex-flow:row wrap;gap:20px 20px;padding:0 0}}
.footer{margin-top:100px;padding:36px 0;border-top:1px solid #f1f1f1;font-size:11px;text-transform:uppercase}.footer *{color:#999}.footer a{border-bottom:1px solid}.footer a:hover{border-color:rgba(0,0,0,0)}.footer__links{margin-bottom:41px}.footer__links-list{display:flex;flex-wrap:wrap;gap:35px}
