.home-about {
  margin: 47px 0 99px 0;

  &__wrapper {
  }

  &__header {
  }

  p {
    margin-top: 10px;
    font-size: rem(13);
    line-height: 1.5;
  }

  p:first-child {
    margin-top: 0;
  }
}

