.category-products {
  &__wrapper {
    padding: 0 10px;
  }

  &__header {
  }

  &__title {
  }

  &__body {
    display: flex;
    gap: 55px;

  }

  &__categories {
    min-width: 210px;

    &-item {
      cursor: pointer;

      .category-products__category-title {
        display: block;
        padding: 10px;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      * {
        color: #777;
      }

      &--top {
        display: block;
        margin-bottom: 12px;
      }


      &--active {
        .category-products__category-title {
          background-color: #EEE;
          color: black;
          font-weight: 600;
        }
      }
    }
  }

  &__categories-list {
    display: flex;
    flex-direction: column;
  }

  &__season-select {
    width: 100%;
    margin-bottom: 35px;
  }

  &__category {

  }

  &__category-title {

  }

  &__subcategories {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 7px 0 7px 6px;

    &--expanded {
      margin-left: 15px;
    }
  }

  &__subcategory {
  }

  &__subcategory-title {
  }


  &__sub-subcategory {
  }

  &__sub-subcategory-title {
  }

  &__products {
  }

  &__pagination {
    // styles for pagination container
    margin-top: 40px;
  }

  &__pagination-list {
    // styles for pagination list
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 400px;
  }

  &__pagination-item {
    display: block;
    width: 45px;
    height: 45px;

    // styles for pagination item
    background: #f1f1f1;
    color: #000;
    line-height: 46px;
    text-align: center;
    text-decoration: none;

    &--active {
      background: #000;
      color: #fff;
    }


  }

  &__pagination-link {
    // styles for pagination link


  }
}

@media screen and (width <= 430px) {
  .category-products {
    &__categories {
      width: 100%;

      &-list {
        overflow-y: scroll;
        height: 200px;
      }
    }

    &__body {
      flex-direction: column;
    }

    &__pagination {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }

}