.image-view {
  width: 100%;
  max-width: 573px;

  * {
    user-select: none
  }

  &__item {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__counter {
    display: inline-block;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
  }
}