.footer {
  padding: 36px 0;
  border-top: 1px solid #f1f1f1;
  font-size: 11px;
  text-transform: uppercase;

  * {
    color: #999;
  }

  a {
    border-bottom: 1px solid;

    &:hover {
      border-color: transparent;
    }
  }

  &__links {
    margin-bottom: 41px;

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 35px;
    }


  }
}