.cart {
  margin-top: 38px;

  &__wrapper {
    display: flex;
    flex-direction: column;

  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  &__table-header th {
    padding: 10px;
    border: 1px solid #ddd;
  }

  &__table-row {
    td {
      padding: 10px;
      border: 1px solid #ddd;
    }
  }

  &__product-name {
    width: 42%;
  }
  &__product-label {
    display: inline-block;
    color: #000;
    text-decoration: underline;
    margin-bottom: 7px;
  }
  &__product-price,
  &__product-total,
  &__product-delete,
  &__product-sizes {
    text-align: center;
  }

  &__product-sizes {
    width: 32%;
  }
  &__product-image{
    text-align: center;
  }

  &__product-sizes-inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    .cart__size-input {
      width: 52px;
      padding: 5px 10px;
    }

    legend {
      margin-bottom: 5px;
    }
  }

  &__total-row {
    td {
      padding: 10px;
      border: 1px solid #ddd;
    }
  }

  &__total-label {
    text-align: right;
  }

  &__total-amount {
    text-align: center;
  }

  &__notification {
    margin-top: 10px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;

  }

  &__submit {
    font-size: 12px;
    font-weight: initial;
  }

  @media screen and (max-width: 430px) {
    &__wrapper {
      gap: 10px;
      padding: 0;
      overflow-x: scroll;

    }
  }
}
