.react-slideshow-container {
  //position: relative;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.react-slideshow-container .nav {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.react-slideshow-container .nav:first-of-type {
  //left: 0;
}

.react-slideshow-container .nav:last-of-type {
  //right: 0;
}

.react-slideshow-container .default-nav {
  display: -webkit-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: rgb(255 255 255 / 60%);
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.react-slideshow-container .default-nav:hover,
.react-slideshow-container .default-nav:focus {
  background: #fff;
  color: #666;
  outline: none;
}

.react-slideshow-container .default-nav.disabled:hover {
  cursor: not-allowed;
}

.react-slideshow-container .default-nav:first-of-type {
  margin-right: -30px;
  border-top: none;
  border-right: none;
}

.react-slideshow-container .default-nav:last-of-type {
  margin-left: -30px;
}

.react-slideshow-container + ul.indicators {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.react-slideshow-container + ul.indicators li {
  position: relative;
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0;
  padding: 5px;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator {
  border: none;
  background: transparent;
  color: transparent;
  opacity: 0.25;
  cursor: pointer;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  text-align: center;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator:hover,
.react-slideshow-container + ul.indicators .each-slideshow-indicator.active {
  outline: none;
  opacity: 0.75;
}

.react-slideshow-fadezoom-wrapper {
  overflow: hidden;
  width: 100%;
}

.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.react-slideshow-fadezoom-wrapper .react-slideshow-fadezoom-images-wrap > div {
  position: relative;
  opacity: 0;
}

.react-slideshow-wrapper .react-slideshow-fade-images-wrap > div[aria-hidden='true'] {
  display: none;
}

.react-slideshow-wrapper.slide {
  overflow: hidden;
  width: 100%;
}

.react-slideshow-wrapper .images-wrap.horizontal {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: auto
}

.react-slideshow-wrapper .images-wrap > div[aria-hidden='true'] {
  display: none;
}
