.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: #fff;

  &__top {
    display: flex;
    height: 50px;
    padding: 20px 10px;
    justify-content: space-between;
    background-color: #222;
    letter-spacing: 2px;

    * {
      color: #fff;
    }

    a:hover {
      color: #ccc;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  &__navigation, &__user-actions {
    font-size: rem(11);
  }

  &__navigation {
    display: flex;
    align-items: center;

    .logo {
      display: inline-block;
      font-weight: 900;
      font-size: 20px;
      letter-spacing: 5px;
      width: 165px;
      height: 20px;
      transition: opacity 0.2s 0.2s linear, width 0.2s  linear, height 0.2s  linear;
      opacity: 1;
    }

    .--logo-hidden {
      opacity: 0;
      width: 0;
      height: 0;
      transition: opacity 0.2s linear, width 0.2s 0.2s linear, height 0.2s 0.2s linear
    }
  }

  &__middle-wrapper {
    display: flex;
    align-items: center;
    padding: 25px 10px !important;
  }

  &__logo-wrapper {
    flex-grow: 1.4;
    display: flex;
    justify-content: right;

  }

  &__phones {
    flex-grow: 1;
    display: flex;
    justify-content: right;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 15px;

    }
  }

  &__bottom {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    position: sticky;
    width: 100%;
    left: 0;
    top: 50px;
    z-index: 100000;
    background-color: #fff;

  }

  &__categories {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &-list {
      gap: 0 !important;
    }

    &-item {
      &-title-wrapper {
        letter-spacing: 2px;
        font-size: rem(11);
      }

      &--expand {
        .header__categories-item-title-wrapper::after {
          content: "";
          display: inline-block;
          margin: 3px 0 0 12px;
          vertical-align: top;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: #000 transparent;

          transform: rotate(0deg);
          transition: transform 0.2s linear;
        }

        &--active {
          .header__categories-item-title-wrapper {
            background-color: #f1f1f1;

            &::after {
              transform: rotate(180deg);
              transition: transform 0.2s linear;
            }
          }
        }
      }

      &-title-wrapper {
        padding: 20px;
        display: flex;

        &:hover {
          cursor: pointer;

          * {
            color: #777;
          }

          &::after {
            border-color: #ccc transparent;
          }
        }
      }
    }


    &-context {
      position: absolute;
      background-color: #f1f1f1;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      opacity: 0;
      z-index: 2;
      transition: height 0.2s linear, opacity 0.2s linear;
      -webkit-box-shadow: 0px 10px 23px -7px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 10px 23px -7px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 10px 23px -7px rgba(0, 0, 0, 0.25);

      &--active {
        height: 300px;
        overflow: visible;
        opacity: 1;
        transition: height 0.2s linear, opacity 0.2s linear;
      }

      &-wrapper {
        padding: 35px 0 !important;
      }
    }
  }

  &__search {
    &-wrapper {
      max-width: 550px;
      width: 100%;
      position: relative;

      .header__search-input {
        width: 100%;
        padding: 20px 64px 20px 20px;
        background: #fff;
        color: #000;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    &-button {
      position: absolute;
      left: 100%;
      cursor: pointer;
      transform: translateX(-100%);
      top: 0;
      background-color: #fff;
      background-image: url("../../public/images/search-big.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 56px;
      height: 56px;
    }
  }

  &__sub-categories {
    display: flex;
    gap: 70px;
    letter-spacing: 1px;

    &-item {
      &-title {
        display: inline-block;
        font-size: rem(14);
        margin-bottom: 32px;
      }

      &-list {
        font-size: rem(12);

        * {
          color: #888;
        }
      }
    }
  }

  &__search {
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 18px;
      content: url("../../public/images/search.png");
    }
  }
}