.carousel-arrow {
  z-index: 1;
  width: 30px;
  cursor: pointer;
  fill: none;
  stroke: #9d9d9d;
  transition: stroke 0.1s ease;

  &:hover {
    polyline {
      stroke: #3F3F3F;

    }
  }

  &__left {
    position: absolute;
    left: 2% !important;
  }

  &__right {
    position: absolute;
    right: 2% !important;
  }
}

@media screen and (width <= 770px) {
  .carousel-arrow {
    display: none;
  }
}