.about {
  &__body {
    display: flex;
    gap: 50px;
  }

  &__side {
    min-width: 210px;
  }

  &__side-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-right: 1px #f1f1f1 solid;
    color: #777;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__side-item {
    &:hover {
      color: #000;
    }

    &-link {
      &--active {
        color: #000;
        font-weight: bold;
      }
    }
  }

  &__info {
    font-size: 12px;

    b {
      font-weight: bold;
    }

    h2 {
      margin: 25px 0 15px;
    }

    h3 {
      margin: 25px 0 12px;
      font-size: 18px;
      line-height: 22px;

      &:first-child {
        margin-top: 0;
      }
    }

    p {
      margin-top: 10px;
      line-height: 1.5;
    }

    li {
      margin-bottom: 10px;
      margin-left: 17px;
      list-style: square;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;

      }
    }
  }
}

  @media screen and (width <= 430px) {
    .about {
      &__body {
        flex-direction: column;
        gap: 10px;
      }

      &__side {
        min-width: 100%;
        padding: 0 0 20px;
        border-right: none;
        border-bottom: 1px #f1f1f1 solid;

        &-list {
          flex-flow: row wrap;
          gap: 20px 20px;
          padding: 0 0;
        }
      }
    }
    
  }
