.products {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 29px;
    max-width: 960px;
  }

  &__item {
    position: relative;

    // width: 100%;
    // max-width: 210px;
    padding: 1px;
    border: 1px solid transparent;
    text-align: center;

    * {
      transition: color 0.1s linear;
    }

    &-price {
      color: #b98710;
      display: inline-block;
      margin-bottom: 15px;
      font-size: 15px;
      letter-spacing: 1px;
    }



    &-img {
      width: 100%;

      img {
        object-fit: contain;
        width: 100%;
        height: 315px;
      }
    }

    &-fast-view {
      position: absolute;
      bottom: 120px;
      left: 50%;
      z-index: 1;
      box-sizing: border-box;
      width: 174px;
      padding: 10px 20px;
      border: none;
      background: rgb(240 240 240 / 80%);
      color: #777;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 350ms ease;
      transform: translateX(-50%);

    }

    &-title {
      display: block;
      margin: 20px 10px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;

    }
    &:hover {
      border: 1px solid #f1f1f1;
      cursor: pointer;

      * {
        color: #888;

      }

      .products__item {
        &-title {
          color: #888;
          transition: color 0.1s linear;

        }
        &-price {
          color: #dea810;
        }

        &-fast-view {
          opacity: 0.9;
          cursor: pointer;
        }

      }
    }
  }

}

@media screen and (width <= 430px) {
  .products {
    &__list {
    }

    &__item {
    }
  }
}