.search-page {
  &__form {
    margin-bottom: 40px;
  }

  &__input {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 250px;
    margin: 0 6px 0 0;
    padding: 10px 7px;
    border: 0;
    border-radius: 4px;
    background: #e5e5e5;
    color: #444;
    font-size: 12px;
  }

  &__submit {
    vertical-align: top;
    padding: 11px 15px;
    border: 0;
    border-radius: 4px;
    background: #000 !important;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
  }

  &__not-found {
    margin-top: 20px;
    font-size: 12px;
  }

}

@media screen and (width <= 430px) {
  .search-page{
    &__form {
      position: relative;
    }

    &__input{
      width: 100%;
    }

    &__submit{
      position: absolute;
      top:0;
      left: 100%;
      display: block;
      border-radius: 0 4px 4px 0;
      transform: translateX(-100%);
    }
  }
}