.search {
  width: 100%;

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 550px;


  }

  &__input {
    width: 100%;
    padding: 20px 64px 20px 20px;
    background: #fff;
    color: #000;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__submit {
    content: 'dada';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 30px;
    cursor: pointer;
    transform: translate(-135%, -50%);
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    letter-spacing: 2px;

    &::before {
      content: url("../../../public/images/search.png");
      position: absolute;
      top: 18px;
      left: 0;
    }
  }
}


@media screen and (width <= 430px) {
  .search__input::placeholder {
    font-size: 10px;
  }
}
