@import "mixins";
@import "vars";
@import "../components/Header/header.scss";
@import "../styles/reset.css";
@import "../styles/fonts.css";

body,
html,
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Tahoma, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.main-style-list {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }

  &__item {
    text-transform: uppercase;
  }
}

